body {
  background: burlywood;
}
.App {
  text-align: center;
  margin: 30px;
}

.App .App-header {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
  color: #2c1401;
}

.App-footer {
  font-size: small;
  margin: 30px 0;
}
